- title "Search: #{@search}"
%section#workouts
  .row
    .span12
      .btn-header
        = link_to "Workouts", workouts_path, :class => "btn btn-primary btn-large"
  .row
    .span12.text-align-center
      = will_paginate @workouts
  - for @workout in @workouts
    = render partial: "shared/workout"