- title 'Benchmarks'
%section#benchmarks
  .row
    .span12
      .btn-header
        = link_to "New Benchmark", new_workout_path, :class => "btn btn-primary btn-large"
  .row
    .span12.text-align-center
      = will_paginate @workout_benchmarks

  - for @workout_benchmark in @workout_benchmarks
    = render partial: "shared/workout_benchmark"
  .row
    .span12.text-align-center
      = will_paginate @workout_benchmarks